bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.DungeonSlime/.idea/workspace.xml
.idea/.idea.DungeonSlime/.idea/vcs.xml
.idea/.idea.DungeonSlime/.idea/projectSettingsUpdater.xml
.idea/.idea.DungeonSlime/.idea/indexLayout.xml
.idea/.idea.DungeonSlime/.idea/workspace.xml
.idea/.idea.DungeonSlime/.idea/workspace.xml
